.article-img {
  max-width: 420px;
  width: 100%;
  color: black;
}
.delete-buton:hover {
  font-size: 36px;
}
.product-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  background-color: blue;
  margin: 10px;
  height: 400px;
  width: 300px;
}
